extends ../layout.pug

block main

  include ../includes/books.pug

  h1 Book: #{book.title}

  if errors
    ul
      each error in errors
        li
          em(style='color: red')= error.message

  form(method='post' action='../books/' + book.id)
    include books_form.pug
    p
      input(type='submit' value='Update')

  include ../includes/loan_history.pug
