extends layout.pug

block main

  include includes/loans.pug
  
      table
        thead
          tr
            th Book
            th Patron
            th Loaned on
            th Return by
            th Returned on
            th Action
        tbody
          tr
            td
              a(href='book_detail.html') Emma
            td
              a(href='patron_detail.html') Dave McFarland
            td 2015-12-10
            td 2020-10-20
            td
            td
              a.button(href='return_book.html') Return Book
          tr
            td
              a(href='book_detail.html') Harry Potter and the Goblet of Fire
            td
              a(href='patron_detail.html') Andrew Chalkley
            td 2015-12-11
            td 2015-12-18
            td
            td
              a.button(href='return_book.html') Return Book
