extends layout.pug

block main

  h1 New Patron
  form
      p
        label(for="first_name") First Name
          input(id="first_name" type="text")
      p
        label(for="last_name") Last Name
          input(id="last_name" type="text")
      p
        label(for="address") Address
          input(id="address", type="text")
      p
        label(for="email") Email
          input(id="email", type="text")

      p
        label(for="library_id") Library ID
          input(id="library_id", type="text")

      p
        label(for="zip_code") Zip Code
          input(id="zip_code", type="text")

      p
        input(type="submit", value="Create New Patron")
