extends ../layout.pug

block main

  h1= patron.first_name + ' ' + patron.last_name
     include patron_form.pug
     h2 Loan History
     table
       thead
         tr
           th Book
           th Patron
           th Loaned on
           th Return by
           th Returned on
           th Action
       tbody
         tr
           td
             a(href="book_detail.html") Harry Potter and the Goblet of Fire
           td
             a(href="patron_detail.html") Andrew Chalkley
           td 2015-12-11
           td 2015-12-18
           td
           td
             a.button(href="return_book.html") Return Book
         tr
           td
             a(href="book_detail.html") A Brief History of Time
           td
             a(href="patron_detail.html") Andrew Chalkley
           td 2015-12-12
           td 2015-12-19
           td
           td
             a.button(href="return_book.html") Return Book
